{% extends "layouts/base.html" %}

{% block content %}
<h1 class="mt-4">All Properties Overview</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Select from filter below</li>
</ol>

<div class="row mx-auto">
    {% for property in properties %}
    <div class="col-auto mb-4">
        <a href="{{url_for('frontend.property_overview')}}">
            <div class="card shadow margined" style="margin-bottom: 2rem; height: 15rem; min-width: 1rem; max-width: 30rem;">
            <div class="card-img-caption">
                <div class="inner-custom">
                    <img class="card-img-top inner" src="static/img/properties/img/{{property.img_path}}" alt="Card Image cap"/>
                </div>
                <div class="content-post-info">
                    <div class="article-title">
                    {{ property.name }}
                    </div>
                    <div class="article-date">
                    {{ property.city }}, {{ property.property_state.name }}
                    </div>
                </div>
            </div>
        </div>
        </a>

    </div>
    {% endfor %}
</div>
{% endblock %}