introduction {
    text-align: center;
    font-size: 44px;
    width: 100%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.inner-custom {
    overflow: hidden !important;
    max-height: 300px !important;
}

.inner-custom img{
    transition: all 1.5s ease !important;
    filter: brightness(50%) !important;
}

.inner-custom:hover img{
    transform: scale(1.2);
}

.article-attributes{
	padding: 2%;
}

.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
  z-index: 0;
}

.card-img-caption .card-text {
	color: white;
	font-size: 30px;
	text-align: center;
	width: 100%;
	margin: 33% 0;
	position: absolute;
	z-index: 9;
}

.margined{
	margin-bottom: 5%;
}

.content-post-info{
	width: 80%;
	position: absolute;
	bottom: 1.25rem;
	margin-left: 1rem;
	z-index: 9;

}

.article-title{
	color: white;
	font-size: 30px;
    line-height: 100%;
    text-align: left;
}

.article-title-page{
	font-weight: 400;
	line-height: 1.2;
	margin-top: 0;
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.article-date{
	color: white;
    font-size: 14px;
    text-align: left;
}

.header-bar-container {
    margin-bottom: 1rem;
    border-bottom: 2px solid #004080;
    padding-left: 0%;
    padding-right: 5%;
}

.header-bar-text {
    padding: 6px 10px;
    background-color: #004080;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
}

.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.small-article {
    height: 75px;
    overflow: hidden;
}

.article-content {
 	padding-right: 5%;
 	padding-top: 5%;
}

.article-content p {
    font-size: 15px;
    font-family: Verdana,Geneva,sans-serif;
    line-height: 1.75;
}


.in-paragraph-image img {
    width: 90%;
    display: block;
	margin: 0 auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

.article-header-image img{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 1%;
}

.article-caption{
    font-size: 15px;
    color: gray;
}

.centered {
    text-align:center;
}

