{% extends "layouts/base.html" %}

{% block content %}

<h1 class="mt-4">Quarterly Report Portal</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">please select a report to upload</li>
</ol>
<div class="col-xl-3 col-md-6">
   <div class="row">
    <form action="" method="post" name="Inputs">

    </form>
</div>

<div class="ol-xl-3 col-md-6">
    <form action = "{{ url_for('portal.upload_file') }}" method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <p>
            {{form.myField()}}
         </p>
         <label class="btn btn-secondary" for="my-file-selector">
              <input name="file" id="my-file-selector" type="file" style="display:none"
              onchange="$('#upload-file-info').html(this.files[0].name)">
              choose file
         </label>

         <label class="btn btn-success">
              <input type = "submit" style="display:none"/>
              upload
         </label>

         <span class='label label-info' id="upload-file-info"></span>
    </form>
</div>
</div>
<row>
    {% if errors is not none %}
        <div> Please see list of property names here: <a href="{{ url_for('reports.properties_report_list') }}"> Report Property List</a></div>
        <div><h4>The portal did not recognize the following property names: </h4></div>
        <ul>
            {% for error in errors['invalid_properties'] %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</row>
{% endblock %}