{% extends "layouts/base.html" %}

{% block content %}
<h1 class="mt-4">Quarterly Report Portal</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">please select a report to upload</li>
</ol>
<div class="col-xl-3 col-md-6">
   <div class="row">
    <form action="" method="post" name="Inputs">
    {{form.hidden_tag()}}
    <p>
        {{form.myField()}}
    </p>
    </form>
</div>

<div class="row">
    <form action = "{{ url_for('portal.upload_file') }}" method="POST" enctype="multipart/form-data">
         <label class="btn btn-secondary" for="my-file-selector">
              <input name="file" id="my-file-selector" type="file" style="display:none"
              onchange="$('#upload-file-info').html(this.files[0].name)">
              choose file
         </label>

         <label class="btn btn-success">
              <input type = "submit" style="display:none"/>
              upload
         </label>

         <span class='label label-info' id="upload-file-info"></span>
    </form>
</div>



</div>


{% endblock %}