{% extends "template.html" %}

{% block content %}
<h1 class="mt-4">All Properties Overview</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Select from filter below</li>
</ol>

<div class="row mx-auto">
    {% for i in range(15)%}
    <div class="col-auto mb-2">
        <a href="{{url_for('property_overview')}}">
            <div class="card shadow margined" style="min-width: 40rem; max-width: 40rem;">
            <div class="card-img-caption">
                <div class="inner-custom">
                    <img class="card-img-top inner" src="/static/img/properties/mercer.jpg" alt="Card Image cap"/>
                </div>
                <div class="content-post-info">
                    <div class="article-title">
                    Mercer Crossing
                    </div>
                    <div class="article-date">
                    T-90 NOI: +3%
                    </div>
                </div>
            </div>
        </div>
        </a>

    </div>
    {% endfor %}
</div>
{% endblock %}